
    .producte{
        text-align: center;
    }
    .textprod{
        margin-left: 14%;
        margin-top: 4%;
        color: black;
    }
    .navmobil{
        display: none;
    }
    .navpc{
        display: block;
    }
    .navpc2{
        display: flex;
    }
    body {
        margin: 0;
        font-family: Helvetica;
       background-image: url("../imgs/fonsabout.jpg");

    }


    .topnav {
        overflow: hidden;
        background-color:black  ;
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;

    }


    .topnav a.opcio{
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 25.5px 32px;
        text-decoration: none;
        font-size: 21px;

    }

    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }

    .topnav a.active {
        background-color:white;
        color: black;
    }
    .topnav a.active:hover {
        background-color: #ddd;
        color: black;
    }
    .topnav a.login {
        float: right;
        background-color: white;
        color: black;
        font-size: 21px;
        padding: 20px 50px;
        margin-top: 6px;
        margin-right: 6px;

    }
    .topnav a.login:hover{
        background-color: darkgrey;
    }
    h1{

        text-align: center;
        font-size: 75px;
margin-top: 2%;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
    }

    .nat{
        text-align: center;
        color: white;
        font-size: 150%;
        padding-left: 4%;
        padding-right: 4%;
        background-color: rgba(0,0,0,0.7);
        padding-bottom: 6%;
        width: 80%;
        margin-top: 10%;
        margin-left: 6%;


    }
    footer{
        padding: 4px;
        background-color:black;
        font-family: sans-serif;
        color: white;
        text-align: center;
        line-height: 20px;
        margin-top: 5%;
        width: 105%;

    }


@media (max-width: 980px){
    .navmobil{
        display: block;
    }
    .navpc{
        display: none;
    }
    .navpc2{
        display: none;
    }
    body
    {
        margin: 0;
        padding: 0;

        /* make it look decent enough */

        font-family: "Avenir Next", "Avenir", sans-serif;
    }

    #menuToggle
    {
        display: block;
        position: relative;
        top: 50px;
        left: 50px;

        z-index: 1;

        -webkit-user-select: none;
        user-select: none;
    }

    #menuToggle a
    {
        text-decoration: none;
        color: #232323;

        transition: color 0.3s ease;
    }

    #menuToggle a:hover
    {
        color: tomato;
    }

    #caixeta{

        display: block;
        width: 149px;
        height: 130px;
        position: absolute;
        top: -20px;
        left: -22px;
        border-radius: 14px;
        background: #232323;
        cursor: pointer;


        z-index: -2; /* and place it over the hamburger */

        -webkit-touch-callout: none;
    }
    #menuToggle input
    {

        display: block;
        width: 140px;
        height: 122px;
        position: absolute;
        top: -7px;
        left: -5px;

        cursor: pointer;

        opacity: 0; /* hide this */
        z-index: 2; /* and place it over the hamburger */

        -webkit-touch-callout: none;
    }

    /*
     * Just a quick hamburger
     */

    #menuToggle span
    {

        display: block;
        width: 100px;
        height: 15px;
        margin-bottom: 20px;
        position: relative;

        background: #cdcdcd;
        border-radius: 3px;

        z-index: 1;

        transform-origin: 4px 0px;

        transition: margin-left 0.25s linear, transform  0.5s cubic-bezier(0.77,0.2,0.05,1.0)
        ,background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        opacity 0.55s ease;
    }

    #menuToggle span:first-child
    {
        transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2)
    {
        transform-origin: 0% 100%;
    }

    /*
     * Transform all the slices of hamburger
     * into a crossmark.
     */
    #menuToggle input:checked ~ span
    {
        opacity: 1;
        margin-left: 20px;
        transform: rotate(45deg)    translate(2px, 6px);

    }

    /*
     * But let's hide the middle one.
     */
    #menuToggle input:checked ~ span:nth-last-child(3)
    {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    /*
     * Ohyeah and the last one should go the other direction
     */
    #menuToggle input:checked ~ span:nth-last-child(2)
    {
        transform: rotate(-45deg) translate(0, -1px);
    }

    /*
     * Make this absolute positioned
     * at the top left of the screen
     */
    #menu
    {

        border-bottom-right-radius: 14px;
        border-top-right-radius: 14px;
        position: absolute;
        width: 400px;
        margin: 30px 0 0 -50px;
        padding: 50px;
        padding-top: 25px;

        background: #ADADAD;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        /* to stop flickering of text in safari */

        transform-origin: 0% 0%;
        transform: translate(-100%, 0);

        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }

    #menu li
    {
        padding: 20px 0;
        font-size: 52px;

    }


    /*
     * And let's slide it in from the left
     */
    #menuToggle input:checked ~ ul
    {
        transform: none;
    }
    h1{

        font-size: 80px;
        margin-top: 7%;
        margin-bottom: 8%;
        font-family: Arial, Helvetica, sans-serif;
    }
    .nat{
        text-align: center;
        color: white;
        font-size: 150%;
        padding-left: 4%;
        padding-right: 4%;
        background-color: rgba(0,0,0,0.7);
        padding-bottom: 6%;
        width: 80%;
        margin-top: 13%;
        margin-left: 6%;


    }

    .canto2{
        margin-left: 45px;
        margin-top: 30px;
        border-radius: 8%;
        width: 280px;
        height: 240px;
        border: 1px solid #000;

    }

    .contenidor{
        display: flex;
        margin-left: 0%;
    }
    .textprod{

        margin-top: 4%;
        color: black;
        font-size: 210%;
    }
    footer{
        font-size: 210%;

        background-color:black;
        font-family: sans-serif;
        color: white;
        text-align: center;
        line-height: 40px;
        margin-top: 11%;
        width: 105%;

    }

}
